<a href="https://colab.research.google.com/github/kchen79427/Capstone_Bruestle_Boudia_Chen/blob/dave_branch/Modeling/Weather_Boudia_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=8a04af6feef6a5f60c35c4b348d05f2ec6e5f988dbef43e86d3e34364f4fb726
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [195]:
import tensorflow as tf
from tensorflow.keras.layers import Dense, Activation, Dropout, Input, Reshape, Lambda, RepeatVector
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.utils import to_categorical
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.functions import udf
from pyspark.sql.functions import to_timestamp
from pyspark.sql.types import TimestampType
import json
from datetime import datetime

In [7]:
spark =  SparkSession.builder.master("local[*]") \
  .appName('Takeoff') \
  .getOrCreate()

# Helper Functions

In [52]:
# load json object for referencing filepaths
files = json.load(open('drive/Shareddrives/STUDENT-Capstone SS23/files.json','r'))

In [218]:
def createFlightDT(fdate, ftime):
  # Creates a date-time timestamp
  lst = [x for x in ftime]
  lst.insert(2,':') # insert a column to delineate hour from min
  fdt = fdate + ' ' + "".join(lst) + ':00'
  fdt = datetime.strptime(fdt, '%Y-%m-%d %H:%M:%S')
  return fdt

# Load Weather Training Data

In [88]:
# Load Weather data from parquet into spark DataFrame
weather = spark.read.parquet(files['Weather']['Origin'])
weather.createOrReplaceTempView('All_Weather')

In [90]:
# If getting DFW Weather Specifically
DFW_weather = spark.sql("Select * FROM All_Weather WHERE Origin = 'DFW'")
DFW_weather.createOrReplaceTempView('weather')

# Load Flight Data

In [219]:
spdf = spark.read.parquet(files['BTS']['OnTime'])

In [220]:
# Create a unique Flight ID for each flight for easy reference
dfw = spdf.withColumn('Flight_Num', col('Reporting_Airline') + \
                    col('Flight_Number_Reporting_Airline') + \
                    col('FlightDate'))

In [221]:
# Create a Flight Date/Time Timestamp to be able to compare to the Weather Dataset
func = udf(lambda x,y: createFlightDT(x,y))
dfw = dfw.withColumn('Flight_DateTime', to_timestamp(func(dfw.FlightDate, dfw.DepTime)))

In [222]:
dfw.createOrReplaceTempView('Ontime')

In [234]:
dfw.columns

['Year',
 'Quarter',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'FlightDate',
 'Reporting_Airline',
 'DOT_ID_Reporting_Airline',
 'IATA_CODE_Reporting_Airline',
 'Tail_Number',
 'Flight_Number_Reporting_Airline',
 'OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'Origin',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac',
 'DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'Dest',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac',
 'CRSDepTime',
 'DepTime',
 'DepDelay',
 'DepDelayMinutes',
 'DepDel15',
 'DepartureDelayGroups',
 'DepTimeBlk',
 'TaxiOut',
 'WheelsOff',
 'WheelsOn',
 'TaxiIn',
 'CRSArrTime',
 'ArrTime',
 'ArrDelay',
 'ArrDelayMinutes',
 'ArrDel15',
 'ArrivalDelayGroups',
 'ArrTimeBlk',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CRSElapsedTime',
 'ActualElapsedTime',
 'AirTime',
 'Flights',
 'Distance',
 'DistanceGroup',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay',
 'FirstDepTime',
 'TotalAddGTime',
 'LongestAddGTime',
 'DivAirportLandings',
 'DivReachedDest',
 'DivActualElapsedTime',
 'DivArrDelay',
 'DivDistance',
 'Div1Airport',
 'Div1AirportID',
 'Div1AirportSeqID',
 'Div1WheelsOn',
 'Div1TotalGTime',
 'Div1LongestGTime',
 'Div1WheelsOff',
 'Div1TailNum',
 'Div2Airport',
 'Div2AirportID',
 'Div2AirportSeqID',
 'Div2WheelsOn',
 'Div2TotalGTime',
 'Div2LongestGTime',
 'Div2WheelsOff',
 'Div2TailNum',
 'Div3Airport',
 'Div3AirportID',
 'Div3AirportSeqID',
 'Div3WheelsOn',
 'Div3TotalGTime',
 'Div3LongestGTime',
 'Div3WheelsOff',
 'Div3TailNum',
 'Div4Airport',
 'Div4AirportID',
 'Div4AirportSeqID',
 'Div4WheelsOn',
 'Div4TotalGTime',
 'Div4LongestGTime',
 'Div4WheelsOff',
 'Div4TailNum',
 'Div5Airport',
 'Div5AirportID',
 'Div5AirportSeqID',
 'Div5WheelsOn',
 'Div5TotalGTime',
 'Div5LongestGTime',
 'Div5WheelsOff',
 'Div5TailNum',
 'Flight_Num',
 'Flight_DateTime']

In [241]:
temp = spark.sql("""
                  Select
                    Reporting_Airline,
                    Flight_Number_Reporting_Airline,
                    FlightDate,
                    DepDelayMinutes,
                    DepDelay,
                    DepTime,
                    ArrTime
                  FROM
                    OnTime
                  WHERE
                    Origin = 'DFW' AND
                    DepTime = ''

          """)

In [244]:
temp.count()

18137

# Combine Weather Data with Flight

In [57]:
result = spark.sql("SELECT ")

In [64]:
upd = spark.sql('''SELECT to_timestamp(create_flight_dt_sql(FlightDate,DepTime)) FROM OnTime LIMIT 5
          ''')

In [81]:
spark.sql('Select Flight_DT FROM OnTime')

DataFrame[Flight_DT: timestamp]

In [69]:
spark_weather.createOrReplaceTempView('Weather')

In [70]:
rslts = spark.sql('Select * FROM Weather Limit 1')

In [71]:
rslts.show()

+------+----------+----------+-------------------+-------------------+-----------+----------+------+------------+------------+---------+----------+---------+-----------+--------+-------------+-------+------------+-------+------------+-------+------------+---------+--------------+--------------+--------------+---------------+---------------+-------+------------+----------------+-----------------+-----------+----------------+-----------+-----------+----------------+---------------+--------------------+--------------------+-------------------------+----------------------+----------------+--------------------+
|Origin|FlightDate|CRSDepTime|         OriginDtTm|        WeatherDtTm|w_dir_angle|w_dir_qlty|w_type|w_speed_rate|w_speed_qlty|sky_c_hgt|sky_c_qlty|sky_c_det|sky_c_cavok|vis_dist|vis_dist_qlty|vis_var|vis_var_qlty|tmp_air|tmp_air_qlty|tmp_dew|tmp_dew_qlty|sea_lvl_p|sea_lvl_p_qlty|liq_precip_qty|liq_precip_dim|liq_precip_cond|liq_precip_qlty|sky_cov|sky_cov_qlty|sky_cov_base_hgt|sky_cov_base_qlty|sky_cov_cld|sky_cov_cld_qlty|sky_sum_cov|sky_sum_hgt|sky_sum_hgt_qlty|sky_obs_tot_cov|sky_obs_qlty_tot_cov|sky_low_cld_base_hgt|sky_low_cld_base_hgt_qlty|at_pres_altimeter_rate|at_pres_stn_rate|          weather_dt|
+------+----------+----------+-------------------+-------------------+-----------+----------+------+------------+------------+---------+----------+---------+-----------+--------+-------------+-------+------------+-------+------------+-------+------------+---------+--------------+--------------+--------------+---------------+---------------+-------+------------+----------------+-----------------+-----------+----------------+-----------+-----------+----------------+---------------+--------------------+--------------------+-------------------------+----------------------+----------------+--------------------+
|   DTW|2010-01-01|      1000|2010-01-01 10:00:00|2010-01-01 09:00:00|        260|         1|     N|          46|           1|    99999|         9|        9|          N|   11000|            1|      N|           1|  -0050|           1|  -0089|           1|    10179|             1|             3|             0|              2|              1|     99|        null|            null|             null|         99|            null|          9|       null|           99999|              8|                   1|                 450|                        1|                 99999|            9939|2010-01-01 2010-0...|
+------+----------+----------+-------------------+-------------------+-----------+----------+------+------------+------------+---------+----------+---------+-----------+--------+-------------+-------+------------+-------+------------+-------+------------+---------+--------------+--------------+--------------+---------------+---------------+-------+------------+----------------+-----------------+-----------+----------------+-----------+-----------+----------------+---------------+--------------------+--------------------+-------------------------+----------------------+----------------+--------------------+